.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 264px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
}

.card h3 {
    font-size: 14px;
    letter-spacing: 0.18px;
    line-height: 1.33;
    text-transform: uppercase;
    color: rgb(0, 151, 255);
    font-weight: 700;
    margin: 1px;
}

.card p {
    font-size: 14px;
    color: rgb(76, 87, 108);
    margin: 1px;
}

.card h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(25, 31, 40);
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin: 1px;
}

.card img {
    border-radius: 8px 8px 0 0;
    width: 264px;
    height: 136px;
}

.card .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.card .delete-button {
  background-color: red; 
  color: #fff; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.card .update-button {
    background-color: #32de84;
    color: #fff; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.card .delete-button:hover,
.card .custom-button:hover {
  opacity: 0.9;
}